streamlit
pandas
requests
easyocr
opencv-python-headless
Pillow
numpy
plotly
streamlit-mic-recorder
openpyxl
xlsxwriter
kaleido
scikit-learn
streamlit
pandas
requests
plotly
streamlit-mic-recorder
pytesseract
Pillow
easyocr
opencv-python-headless
